
body {
    color: #2b3236;
    margin: 0;
    text-align: center;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
    position: absolute;
}
h1{
    display:block;
    font-weight: bold;
    font-size: 6.5vw;
    font-family: "Libertinus";
    text-align: left;
    margin:4% 0% 4% 0%;
}
h2{
    display:block;
    font-weight: 500;
    font-size: 3.5vw;
    font-family: "Sansation";
    text-align: left;
    margin:0% 0% 2% 0%
}
p{
    display:block;
    font-weight: 500;
    font-size: 2.5vw;
    font-family: "Sansation";
    text-align: left;
    margin-top:0%
}
ul{
    display:block;
    font-weight: 500;
    font-size: 2.5vw;
    font-family: "Sansation";
    text-align: left;
    margin-top:0%
}

.square{
    position: absolute;
}
.page{
    background-color: #ededed;
    position: relative;
    height: 57.1432vw;
    width: 100vw;
    padding-top: 10px;
    padding-left: 0%;
    margin-left: 0%;
}


#page1-text{
    position: absolute;
    width: 65vw;
    left:6vw;
    padding-left: 1.5%;
}
#page1-bottom-square{
    bottom: 0;
    right: 0;
    width: 21vw; 
}
#page1-middle-square{
    bottom: 11.5vw;
    right: 27.5vw;
    width: 10vw; 
}
#page1-left-square{
    bottom: 18vw;
    right: 35vw;
    width:22vw; 
}
#page1-top-square{
    bottom: 29vw;
    right: 0;
    width:16vw; 
}
#page1-plant{
    bottom: 0;
    right: 0;
    width: 58vw;
}

#page2-text{
    position: absolute;
    width: 65vw;
    left:39vw;
    top: 9vw;
}
#skill-list{
    width: 52vw;
}
#page2-line{
    height: 36vw;
    bottom: 2vw;
    left: 41vw;
}
#page2-plant{
    width: 31vw;
    bottom: 0;
    left: 0;
    padding-left: 0;
    margin-left: 0;
}
#page2-top-square{
    bottom: 38.5vw;
    left: 19.5vw;
    width:11.5vw; 
}
#page2-top-left-square{
    bottom: 35.5vw;
    left: 3vw;
    width:9.5vw; 
}
#page2-middle-right-square{
    bottom: 24vw;
    left: 23.5vw;
    width:7vw; 
}
#page2-middle-square{
    bottom: 14vw;
    left: 5.5vw;
    width:15vw; 
}
#page2-bottom-square{
    bottom: 5vw;
    left: 2vw;
    width:12vw; 
}



.sansation-light {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .sansation-regular {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sansation-bold {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .sansation-light-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .sansation-regular-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .sansation-bold-italic {
    font-family: "Sansation", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .libertinus-math-regular {
    font-family: "Libertinus Math", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
  

